<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Due Jobs</title>
</head>

<body>
  <h1>Due Jobs</h1>
  <ul>
    <% dueJobs.forEach(job=> { %>
      <li>
        <strong>
          <%= job.title %>
        </strong> - <%= job.dueDate %>
      </li>
      <% }); %>
  </ul>
</body>

</html>
