<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="icon" type="image/x-icon" href="/images/title-icon.svg">

  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/animated-background.css">
</head>

<body>
  <div class="ripple-background">
    <div class="circle xxlarge shade1"></div>
    <div class="circle xlarge shade2"></div>
    <div class="circle large shade3"></div>
    <div class="circle medium shade4"></div>
    <div class="circle small shade5"></div>
  </div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/form">Add Jobs</a></li>
      <li><a href="/jobs">List Jobs</a></li>
    </ul>
  </nav>
  <main>
    <h1>
      Job Tracker
    </h1>
    <p>Welcome to your <span>Job tracker application!</span> </p>
    <p>You can navigate this application using the <span>navigation bar</span> aside. </p>
    <p>Notifications will be <span>printed on your console</span>, so make sure to keep an eye! </p>


  </main>
</body>

</html>
